html {
  height: 150%;
  width: 100%;
  background-image: url('Pback.png');



  body {
    background-image: url('Pback.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.glow {
 position: relative;
 display: inline-block;
}

.glow:after {
 content: "";
 position: absolute;
 top: -5px;
 right: -5px;
 bottom: -5px;
 left: -5px;
 box-shadow: 0 0 10px #331094, 0 0 20px #5239d0, 0 0 30px #5239d0, 0 0 40px #5239d0;
 border-radius: 50%;
 opacity: 0.5;
}